# wsl-config/wsl.conf
[boot]
systemd = true # Enable systemd support in WSL, default is true
command = cd ~ # Command to run on boot, default is empty, this will change the directory to the user's home
protectBinfmt = true # Protect the binfmt_misc filesystem, default is true

[automount]
enabled = true
root = /mnt/
options = "metadata"

[network]
generateHosts = true      # default is true, generates /etc/hosts automatically
generateResolvConf = true # default is true, generates /etc/resolv.conf automatically
# hostname = <your-hostname> # Optional: Set a custom hostname for WSL

[interop]
enabled = true           # Enable interop with Windows, default is true
appendWindowsPath = true # Append Windows PATH to WSL, default is true

[user]
default = dnndev # Set the default user for WSL, replace with your username
